body {
    margin: 0;
    background-color: #fde8d0;
  }


#my-canvas {
    background-color: #74747c;
  }

#splash-screen {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


#start-btn{
background-color: BLACK;
color: white;
padding: 30px 40px;
font-size: 40px;
margin: 50px 50px;
border-radius: 10px; 
text-align: center;
justify-content: center;
width: 500px;
}



#restart-btn, #back-btn{
  display: inline-block;
  background-color: BLACK;
  color: white;
  padding: 10px 10px;
  font-size: 40px;
  margin: 20px 20px;
  border-radius: 10px; 
  text-align: center;
  justify-content: center;
  width: 250px;
}

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

  #my-canvas, #gameover-screen {
      display: none;
  }

  #scoreTotal {
    color: #202d3c;
    font-size: 30px;
    display: none;
    margin: 20px 20px;
 }

  #score {
    color: #202d3c;
    font-size: 30px;
    display: flex;
    width: 150px;
    height: 10px;
    font-weight: 800; 
    flex-direction: row; 
    padding-right: 55px;
    justify-content: space-around;
 }

  #name1{
    display: flex;
    flex-direction: row;

}
  #nameOfUser {
    font-size: 20px;
    border: 3px solid black;
    width: 250px;
    margin: auto;

  }

  #intro-name{
    font-weight: 800;
    font-size: 30px;
    padding-right: 20px;
}

  #nameOver {
  font-weight: 800;
  font-size: 30px;
  padding-right: 20px;
}


#namePerson {  
  color:  #351a11;
  font-weight: 800;
  font-size: 30px;
}
  
